@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900);

:root {
  --primary: #ff7605;
  --secondary: #ffefe2;
  --primary-alternate: #ac2c4b;
  --secondary-alternate: #ffd3d0;
  --dark: #131313;
  --dark-alternate: #eaeaea;
  --primary-gray: #2d2d2d;
  --light-gray: #fff9f4;
  --alternate-green: #f8ffde;
  --alternate-blue: #def5ff;
}
* {
  font-family: Poppins, "Segoe UI", "Helvetica Neue", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", sans-serif;
  box-sizing: border-box;
  /* outline: 1px solid #f00 !important; */
}
html,
body {
  background-color: #131313 !important;
  color: white;
  max-width: 100vw;
  overflow-x : hidden;
  scroll-behavior: smooth;
  background-image: url(/public/assets/BG__Home.png);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
}

/* CUSTOM SCROLL BAR */
::-webkit-scrollbar {
  width : 2px !important;
}
::-webkit-scrollbar-track {
  background: #131313 !important;
}
::-webkit-scrollbar-thumb {
  background : var(--primary) !important;
}
/* ::-webkit-scrollbar-track-piece {
  background-color: var(--primary-gray)
} */



/* Loader Starts */
.Loader__Container {
  width: 100%;
  height: 100%;
  background-color: #121212;
  opacity: 0.75;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.Loader__Main {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Loader {
  animation: 250ms Loader linear infinite;
  width: 2.7rem;
  height: 2.7rem;
  background: transparent;
  border: 2.5px solid var(--primary-gray);
  border-top: 2.5px solid var(--primary);
  border-right: 2.5px solid var(--primary);
  border-radius: 50%;
}
.BoxOne {
  animation: 400ms BoxOne linear infinite alternate;
  width: 1rem;
  height: 1rem;
  background: white;
}
.BoxTwo {
  animation: 400ms BoxTwo linear infinite alternate;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--primary);
}

.imageBounce {
  animation: 1600ms bounceImage linear infinite alternate;
}
@keyframes BoxOne {
  100% {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--primary);
    /* transform: translateX(3rem); */
  }
}
@keyframes BoxTwo {
  100% {
    width: 1rem;
    height: 1rem;
    background-color: white;
    /* transform: translateX(3rem); */
  }
}
@keyframes bounceImage {
  0% {
    top : -20%
  }
  100% {
    top : -15%;
  }
}


@tailwind base;
@tailwind utilities;
@tailwind components;
